

header {
	height: 100px;
}

.container {
	max-width: 980px;
	overflow: hidden;
	margin: 0 auto;
}


.gallery-img img {
	max-width: 100%;
}

.gallery-img {
	float: left; 
	max-width: 100%;
	width: 22%;
	margin: 1.5%;
}




@media only screen and (max-width : 680px),
only screen and (max-device-width : 680px) {
	
 .gallery-img {
	 width: 29.33333333%;
	 }
}

@media only screen and (max-width : 455px),
only screen and (max-device-width : 455px) {
	
 .gallery-img {
	 width: 44%;
	 }
}

@media only screen and (max-width : 380px),
only screen and (max-device-width : 380px) {
	
 .gallery-img {
	 width: 88%;
	 }
}

