


.container {
	max-width: 1040px;
	margin: 140px auto;
}

#fixed {
	height: 140px;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fafafa;
}

#search {
	position: relative;
	left: 50%;
	top: 50%;
	margin-left: -230px;
	margin-top: -50px;
}

input {
	width: 460px;
	padding: 10px;
	font-size: 16px;	
}

input[type=search] {
    border: 2px solid #a8a8a8;
    border-radius: 4px;
}


input[type=search]:focus{
  outline:0;
  background-color:#f0ffff;
  border-color:#5fb4b4;
  }


li img {
	max-width: 100%;
	border: 2px solid #a8a8a8;
	border-radius: 50%;
}

li img:hover {
	border: solid 2px #5fb4b4;
	border-radius: 0;
	-webkit-transition: all ease 2s; /* Safari */
    transition:all 0.3s ease;
	}

li {
	float: left; 
	max-width: 100%;
	width: 19.230769%; /* 200/1040 *100 */
	margin: 2.884615%; /* 30/1040 *100 */
}


ul {
	list-style-type: none;
	padding-left: 0;
}


/* Style the overlay/lightbox */

#overlay {
  background: rgba(0,0,0,.70);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none; /*Initial state is hidden*/
  text-align: center;   
}  

#overlay img {
	display: block;
	max-width: 780px;
	margin: 10% auto 0;
	border: solid 2px #fff;
}
  
#overlay p {
  color: #fff;
  margin: 60px auto;
  line-height: 1.5;
  text-align: center;
  padding: 0 30px;
}

/* Navigation */

#btnPrev {
  position: absolute;
  float: left;
  top: 25%;
  left: 3%;
  font-size: 1.5em;
  background-color: rgba(0,0,0,0.0);
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border:none;
  background-color: rgba(127, 127, 127, 0.45);
 
}

#btnNext{
  position: absolute;
  float: right;
  top: 25%;
  right: 3%;
  font-size: 1.5em;
  background-color: rgba(0,0,0,0.0);
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border:none;
  background-color: rgba(127, 127, 127, 0.45);
}


@media only screen and (max-width : 632px),
only screen and (max-device-width : 632px) {
	
 li {
	 width: 27.57%;
	 }
	 
#overlay img {
	max-width: 90%;
  }
}

@media only screen and (max-width : 455px),
only screen and (max-device-width : 455px) {
	
 li {
	 width: 44%;
	 }
}

@media only screen and (max-width : 380px),
only screen and (max-device-width : 380px) {
	
 li {
	 width: 88%;
	 }
}

